html, body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

div.container-main {
  padding: 0;
}

/* mobile nav menu start */
div.container-nav-mobile {
  display: none;
}

nav.navbar {
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #9AC372;
}

ul.navbar-nav li.nav-item {
  font-size: 2em;
}
/* mobile nav menu end */

/* nav menu start */
div.container-nav {
  background-color: black;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

img.logo {
  padding: 1em;
}

a.nav-link {
  color: white;
}

a.active {
  color: #9AC372;
}

a.nav-link:hover {
  opacity: 0.5;
}
/* nav menu end */

div.banner {
  background-image: url("./assets/cover_guidelines_opacity-40.jpg");
  background-size: cover; 
  padding: 0;
}

h1.site-title {
  text-align: center;
  margin: 2em;
}

div.container-content {
  padding-right: 0;
}

div.container-text {
  padding: 1.5em;
}

blockquote, ul { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 991px) {
  div.container-nav {
    display: none;
  }

  div.container-nav-mobile {
    display: inline-block;
  }
}
