html, body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-image: url("./assets/cover_ideas_opacity-40-min.jpg");
  background-size: cover;
}

div.container-main {
  padding: 0;
}

/* mobile nav menu start */
div.container-nav-mobile {
  display: none;
}

nav.navbar {
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #9AC372;
}

ul.navbar-nav li.nav-item {
  font-size: 2em;
}
/* mobile nav menu end */

/* nav menu start */
div.container-nav {
  background-color: black;
  /* height: 100vh; */
  margin: 0;
  padding: 1em;
}

img.logo {
  padding: 1em;
}

a.nav-link {
  color: white;
}

a.active {
  color: #9AC372;
}

a.nav-link:hover {
  opacity: 0.5;
}
/* nav menu end */

h1.site-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  margin: 1.25em;
}

div.banner {
  padding: 0;
}

div.container-content {
  padding-right: 0;
}

div.container-text {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1.5em;
}

div.card {
  margin: 1em;
}

div.card:nth-child(odd) {
  background-color: #D9EAD4;
}

div.card:nth-child(even) {
  background-color: #B7D6AA;
}

<<<<<<< HEAD
blockquote, ul {
=======
div.container-cards {
  min-height: 100vh;
}

a.card-link { color: black; }

blockquote, ul { 
>>>>>>> 25075cb654b43d6ea9b68d6c1d904ef7951196c6
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 991px) {
  div.container-nav {
    display: none;
  }

  div.container-nav-mobile {
    display: inline-block;
  }
}
