html, body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-image: url(./assets/cover_resources_opacity-40-min.jpg);
  background-size: cover;
}

section.container-main {
  padding: 0;
}

/* mobile nav menu start */
section.container-nav-mobile {
  display: none;
}

nav.navbar {
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #9AC372;
}

ul.navbar-nav li.nav-item {
  font-size: 2em;
}
/* mobile nav menu end */

/* nav menu start */
section.container-nav {
  background-color: black;
  margin: 0;
  padding: 1em;
}

img.logo {
  padding: 1em;
}

a.nav-link {
  color: white;
}

a.active {
  color: #9AC372;
}

a.nav-link:hover {
  opacity: 0.5;
}
/* nav menu end */

h1.site-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  margin: 1.25em;
}

div.banner {
  padding: 0;
}

section.container-content {
  padding-right: 0;
}

.btn {
  margin-right: 1em;
}

.btn-primary {
  background-color: #9AC372;
  border-color: #9AC372;
  color: black;
  box-shadow: 5px 5px 12px #373637;
}

.btn-primary:hover {
  background-color: #5C7544;
  border-color: #5C7544;
}

.btn-secondary {
  background-color: #9AC372;
  border-color: #9AC372;
  color: black;
  height: 100%;
  white-space: pre-line;
}

.btn-secondary:hover {
  background-color: #5C7544;
  border-color: #5C7544;
}

div.link-pres {
  display: flex;
  margin: 1em;
}

section.container-cards {
  padding: 3em;
}

div.card {
  margin-bottom: 1em;
}

div.card:nth-child(even) {
  background-color: #D9EAD4;
}

div.card:nth-child(odd) {
  background-color: #B7D6AA;
}

@media only screen and (max-width: 991px) {
  section.container-nav {
    display: none;
  }

  section.container-nav-mobile {
    display: inline-block;
  }
}

@media only screen and (max-width: 712px) {
  div.link-pres {
    flex-direction: column;
    margin: 1em;
  }
}
