html, body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-image: url("./assets/cover_opacity-40-min.jpg");
  background-size: cover;
}

section.container-main {
  padding: 0;
}

/* mobile nav menu start */
section.container-nav-mobile {
  display: none;
}

nav.navbar {
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #9AC372;
}

ul.navbar-nav li.nav-item {
  font-size: 2em;
}
/* mobile nav menu end */

/* nav menu start */
section.container-nav {
  background-color: black;
  margin: 0;
  padding: 1em;
}

img.logo {
  padding: 1em;
}

a.nav-link {
  color: white;
}

a.active {
  color: #9AC372;
}

a.nav-link:hover {
  opacity: 0.5;
}
/* nav menu end */

section.container-content {
  padding-right: 0;
}

div.banner {
  padding: 0;
}

h1.site-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  margin: 1.25em;
}

h4.site-title{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  margin: 1.25em;
}

section.container-table {
  padding: 1em;
}

table.table {
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

td.pale {
  background-color: #D9EAD4;
}

td.dark {
  background-color: #77C436;
}

td.med {
  background-color: #B7D6AA;
}

a.btn-info {
  color: black;
  background-color: #B1CFA5;
  border-color: #B1CFA5;
}

a.btn-info:hover {
  color: black;
  background-color: rgb(145, 184, 129);
  border-color: rgb(145, 184, 129);
}

@media only screen and (max-width: 1050px) {
  section.container-table {
    padding: 0;
  }

}

@media only screen and (max-width: 991px) {
  section.container-nav {
    display: none;
  }

  section.container-nav-mobile {
    display: inline-block;
  }
}
